@font-face{
    font-family: "THsanslite";
    src: url('../../assets/fonts/thaisanslite/thaisanslite_r1.ttf')
}
.white {
    color:#FFF;
}
.yel1 {
    color:#FBDA58;
}

.yel2{
    color:#D2BB60;
}
.font-size200 {
    font-size: 10rem;
}
.font-size150 {
    font-size: 7rem;
}
.font-size70 {
    font-size: 3.2rem;
}

