<div *ngIf="!confirm">
  <div class="confirm-status text-center">

    ยืนยันการลบตำแหน่ง :
    <div> <strong style="color:red">'{{data.pos_detail}}'</strong> </div>

  </div>
  <div class="text-center order-theme">

    <button mat-raised-button color="primary" (click)="onConfirm()" style="color:#fff;"
      class="btn-confirm">ยืนยัน</button>&nbsp;
    <button mat-raised-button (click)="onCancel()" class="btn-confirm">ยกเลิก</button>
  </div>
</div>
<div class="text-center" *ngIf="confirm">
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class=" text-center" *ngIf="complete===true">
    <h4 style="font-family:thai-sanslite;">ดำเนินการสำเร็จ</h4>
    <img src="./assets/img/success.png" height="40" alt="">
  </div>
  <div class=" text-center" *ngIf="complete===false">
    <h4 style="font-family:thai-sanslite;">ดำเนินการไม่สำเร็จ</h4>
    <img src="./assets/img/error.png" height="40" alt="">
  </div>

</div>