<app-nav></app-nav>
<main style="font-family: thai-sanslite;">
  <form [formGroup]="form">
    <div class="text-center header-form">
      <span>{{_form?.form_name}}</span>
      <!-- <p>
        {{_form?.description}}
      </p> -->
      <hr>
    </div>

    <article style="font-size:1.4rem;" *ngIf="order === 'request'">&nbsp;&nbsp;คำอธิบาย : {{_form?.description}}</article>
    <article *ngIf="status=='complete'" class="signed">
      <div *ngIf="comments.length" class="d-flex" style="font-size:1.4rem; font-weight:600;">
        &nbsp;&nbsp;<b>สถานะ :</b>
        <div style="color:rgb(9, 160, 16)" *ngIf="comments[comments.length - 1].status===1"> &nbsp;ผ่านการอนุมัติ</div>
        <div style="color:rgb(202, 40, 11)" *ngIf="comments[comments.length -1 ].status===2">&nbsp;ไม่ผ่านการอนุมัติ
        </div>

      </div>
    </article>
    <article *ngIf="status=='incomplete'" style="font-size:1.4rem;font-weight:600;" class="d-flex signed">&nbsp;&nbsp;สถานะ : &nbsp;<div
        class="text-primary">
        กำลังดำเนินการ</div>
    </article>
    <article style="font-size:1.4rem;font-weight:600;" *ngIf="order === 'history'">&nbsp;&nbsp;ยื่นคำร้อง ณ วันที่ : {{request?.created_at | date:'dd-MM-yyyy'}}</article>
    <br>
    <article class="question-group ">

      <div *ngIf="comments.length" class=" pb-1" style="font-size:1.75rem;font-weight:600;text-decoration-line: underline;">
        ข้อมูลคำร้อง</div>

      <div *ngIf="order === 'history'" class="pb-1" style="font-size:1.3rem;font-weight: 600;">
        ภาคการศึกษาที่ {{semestervalue}}</div>

      <mat-form-field style="font-family: thai-sanslite;font-size: 1.3rem;"
        *ngIf="order === 'request'">
        <mat-label>Semester</mat-label>
        <mat-select [formControl]="semester_value" style="font-family: thai-sanslite;">
          <mat-option *ngFor="let sem of semester" [value]="sem" style="font-family: thai-sanslite;">
            {{sem}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="font-family: thai-sanslite;font-size: 1.3rem;"
        *ngIf="order === 'request'">
        <mat-label>ปีการศึกษา</mat-label>
        <mat-select [formControl]="year_value" style="font-family: thai-sanslite;">
          <mat-option *ngFor="let year of years" [value]="year" style="font-family: thai-sanslite;">
            {{year}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <div *ngFor="let question of questions">

        <app-question (other)="getother($event)" (subject)="getSubject($event)" [question]="question" [form]="form"
          [disable]="order === 'history'">
        </app-question>

      </div>
    </article>
    <div class="tabgroup mb-3 " *ngIf="comments.length">
      <div *ngFor="let comment of comments;let i=index;">

        <h4 class="comment_header">
          <span id="header">ความเห็นจาก{{comment?.role}}</span> <br class="visible-xs d-sm-none">
          <span *ngIf="comment.status === 1 ">
            <span class="text-success" *ngIf="comment.isStaff">(ผ่านการตรวจสอบ)</span>
            <span class="text-success" *ngIf="!comment.isStaff  && comments.length-1 !== i">(เห็นควร
              อนุมัติ)</span>
            <span class="text-success" *ngIf="!comment.isStaff && comments.length-1 === i">(อนุมัติ)</span>
          </span>
          <span *ngIf="comment.status === 2 ">
            <span class="text-danger" *ngIf="comment.isStaff">(ไม่ผ่านการตรวจสอบ)</span>
            <span class="text-danger" *ngIf="!comment.isStaff && comments.length-1 !== i">(เห็นควร ไม่อนุมัติ)</span>
            <span class="text-danger" *ngIf="!comment.isStaff && comments.length-1 === i">(ไม่อนุมัติ)</span>
          </span>
        </h4>
        <main>
          <div *ngIf="comment.comment" class="comment">
            > {{comment?.comment}}
          </div>
          <div *ngIf="comment.comment===null && comment.status !== 0 && comment.status !== null" class="comment">
            ไม่มีการแสดงความคิดเห็น
          </div>
          <div *ngIf="comment.comment===null && (comment.status === 0 || comment.status === null)" class="comment">
            กำลังรอการตรวจสอบ
          </div>
          <footer>
            <div *ngIf="comment.status !== 0 && comment.status !== null" class="p-3">

              <article class="comment_considerby text-md-right text-xs-left">
                <b>
                  พิจารณาโดย:
                </b>
                {{comment?.teacher_info?.title?.title_name_t}}{{comment?.teacher_info?.title?.titleacafullt}} {{comment?.teacher_info?.person.fname_t}}
                {{comment?.teacher_info?.person.lname_t}} <br class="visible-xs d-sm-none">
                ({{comment?.timestamp|date:'medium'}})
              </article>


            </div>
          </footer>
        </main>

      </div>
    </div>


    <div class="order-theme text-center ">
      <!-- disabled {{!checkValid()}} -->
      <div class="alert alert-danger text-center" role="alert" *ngIf="alertNotValid" >
        กรุณากรอกข้อมูลให้ครบถ้วน
      </div>
      <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" class="btn-order" style="color:#fff;"
        *ngIf="order === 'request'">
        ยื่นคำร้อง
      </button>
      <button mat-raised-button color="primary" class="btn-order" style="color:#fff;" *ngIf="order === 'history'"
        (click)="back()">
        ย้อนกลับ
      </button>


    </div>


  </form>


</main>