.btn-order {
  background: #3F9384;
  color: #fff;
  /* border: 1px solid #fff; */
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: thai-sanslite;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media ( max-width:575.88px) {
  .tabgroup main footer {
    font-size: 1rem!important;
  }
}

@media ( min-width:576px) {
  .tabgroup main footer {
    font-size: 1.1rem!important;
  }
}

.question-group {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #F1F4FA;
  padding: 1.5rem;
}

.tabgroup {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  
}

.tabgroup div {
  padding: 1.5rem;
  background: #F1F4FA;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); */
}

.tabgroup main {
  font-size: 1.3rem;
}

.header-form {
  padding: 3rem 1rem 1rem 0.5rem;
}

.header-form span {
  font-weight: 900;
  font-size: 2.5rem;
  background: rgba(0, 0, 0, 0.651);
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  color: rgba(247, 247, 247, 0.938);
}

.header-form p {
  font-size: 1.4rem;
}

.signed{
  font-size: 1.3rem;
}