.example-form {
  /* min-width: 150px; */
  /* max-width: 500px; */
  width: 100%;
}

.container-page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:575.88px) {
  .tabgroup div {
    padding: 1rem;
  }
  .tabgroup main footer {
    font-size: 1rem;
  }
}

@media (min-width:576px) {
  .container-page {
    max-width: 540px;
  }
  .tabgroup main footer {
    font-size: 1.1rem;
  }
  .tabgroup div {
    padding: 2.5rem;
  }
}

@media (min-width:720px) {
  .container-page {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-page {
    max-width: 960px;
  }
}

.reason-please {
  font-family: thai-sanslite;
  font-size: 1.3rem;
}

.answer-section {
  font-size: 1.4rem;
}

.signed {
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}

.question-label {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  list-style-type: none;
  /* background-color: rgb(155, 180, 201); */
}

.answer-group {
  background: #F2EEE2;
  font-size: 1.4rem;
  font-weight: 700;
  color: #666666;
  font-family: thai-sanslite;
}

.tabs li {
  list-style: none;
  float: left;
  width: 20%;
}

.tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  height: 70px;
  line-height: 90px;
  background: linear-gradient(165deg, transparent 29%, #98927C 30%);
}

.tabs a:hover, .tabs a.active {
  background: linear-gradient(165deg, transparent 29%, #F2EEE2 30%);
  color: #98927C;
}

.tabs a:before {
  content: '';
  position: absolute;
  z-index: 11;
  left: 100%;
  top: -100%;
  height: 70px;
  line-height: 90px;
  width: 0;
  border-bottom: 70px solid rgba(0, 0, 0, 0.1);
  border-right: 7px solid transparent;
}

.tabs a.active:before {
  content: '';
  position: absolute;
  z-index: 11;
  left: 100%;
  top: -100%;
  height: 70px;
  line-height: 90px;
  width: 0;
  border-bottom: 70px solid rgba(0, 0, 0, 0.2);
  border-right: 20px solid transparent;
}

.tabgroup {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.tabgroup div {
  /* padding: 2.5rem; */
  background: #F2EEE2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.tabgroup main {
  font-size: 1.3rem;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.btn-order {
  background: #3F9384;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
  transition: all 0.4s;
}

.btn-order-cancel {
  background: #fff;
  color: #3F9384;
  border: 1px solid #3F9384;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
  transition: all 0.4s;
}