button{
    font-family:thai-sanslite;font-size:1.3rem;
}

.btn-confirm{
    font-family: thai-sanslite;
    font-size: 1.3rem;
}

.confirm-status{
    font-family:thai-sanslite;
    font-size:1.4rem;
    padding-bottom:0.4rem;
}