.percent{
    font-size: 1.3rem;
}



.element-data{
    font-size: 1.4rem;
}

.waiting{
    color: rgb(48, 47, 47);
    background: #fbeb07e3;
    border-radius: 10px;
    font-weight: 600;
}

.success{
    color: rgb(255, 255, 255);
    background: #5aa8fb;
    border-radius: 10px;
    font-weight: 600;
}

.non-success{
    color: rgb(255, 255, 255);
    background: rgba(223, 59, 59, 0.836);
    border-radius: 10px;
    font-weight: 600;
}

@keyframes placeHolderShimmer {
    0% {
      background: #ececec;
    }
    30% {
      background: #f7f7f7;
    }
    50% {
      background: #ececec;
    }
    80% {
      background: #f7f7f7;
    }
    100% {
      background: #ececec;
    }
  }
  .loading-animation {
    animation: placeHolderShimmer 3s infinite;
  }
  .mask {
    background: #fff;
    position: absolute;
    height: 10px;
  }
  .mask--b-b {
    top: 0;
    width: 100%;
    height: 1px;
    right: 0;
    background: #efefef;
  }
  .mask--t {
    height: 10px;
    width: 100%;
  }
  .mask--b {
    height: 10px;
    width: 100%;
    bottom: 0;
  }
  .mask--r {
    height: 30px;
    width: 10px;
    right: 0;
  }
  .mask--l {
    height: 30px;
    width: 10px;
    left: 0;
  }
  .mask--sep-1 {
    width: 20px;
    right: 340px;
    height: 30px;
  }
  .mask--sep-2 {
    width: 20px;
    right: 185px;
    height: 30px;
  }
  .mask--sep-3 {
    width: 20px;
    right: 73px;
    height: 30px;
  }
  .u-pd-y--md {
    padding: 25px 0 25px;
  }
  .u-pd--xs {
    padding: 5px;
  }
  .u-pd--sm {
    padding: 10px;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    padding: 0;
  }
  .u-mg--xs {
    margin: 5px;
  }
  .u-mg--sm {
    margin: 10px;
  }
  .u-mg--md {
    margin: 15px;
  }
  .u-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .u-flex__cell {
    flex: 1;
  }
  .icon-container {
    border-left: 1px solid #efefef;
  }
  .u-hide-small--flex {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    .u-hide-small--flex {
      display: inline-block;
    }
  }
  .u-show-large-only--flex {
    display: none;
  }
  @media only screen and (min-width: 960px) {
    .u-show-large-only--flex {
      display: inline-block;
    }
  }
  