<div [innerHtml]="safeHtml" class="text-center" *ngIf="!isLoading"></div>
<div class="u-flex__cell u-mg--sm u-pd--sm loading-animation" *ngIf="isLoading"></div>
<div *ngIf="type === 'Progress'" class="progress-theme text-right">
  <mat-progress-bar [color]="progColor" mode="determinate" value="{{progress}}"></mat-progress-bar>
  {{progress}}%
</div>
<div *ngIf="type === 'Date' " class="text-center">
  {{date|date:'dd-MM-yyyy'}}
</div>
<div *ngIf="type ==='Status'">
  <!-- abc -->
  <div *ngIf="status === '0'" class="waiting text-center">Waiting
    <!-- <i class="far fa-clock text-right" style="color:rgb(52, 53, 52);font-size:1.2rem;"></i> -->
  </div>
  <div *ngIf="status === '1'" class="success text-center">Signed</div>
  <div *ngIf="status === '2'" class="non-success text-center">Reject</div>
  <b></b>
</div>