<section class="text-center" style="font-family: thai-sanslite;">
  <div style="font-weight:800;font-size:2rem;">ลำดับการอนุมัติ</div>


  <mat-button-toggle-group>
    <mat-button-toggle (click)="drag = false" style="font-family: thai-sanslite;font-size: 1.2rem;line-height: 1.2rem;">
      เลือกตำแหน่ง</mat-button-toggle>
    <mat-button-toggle (click)="drag = true" style="font-family: thai-sanslite;font-size: 1.2rem;line-height: 1.2rem;">
      เปลี่ยนลำดับ</mat-button-toggle>

  </mat-button-toggle-group>
  <hr>
  <!-- <div *ngIf="selected">เลือกตำแหน่ง</div> -->
  <div *ngIf="drag">
    <div >คลิ๊กลาก</div>

    <div class="example-list">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let order of orders;let i = index" cdkDrag>
          <a href="javascript:void(0)">{{i + 1}} &nbsp; {{order?.selectFormControl.value}} </a>
        </div>
      </div>

      <!-- <div class="example-box" (click)="dragOrder = !dragOrder" *ngFor="let order of orders;let i = index"
        (click)="move(i)">
        <a href="javascript:void(0)" [class.selected]="selectIndex === i">{{i + 1}} &nbsp;
          {{order?.selectFormControl.value}} <i class="fas fa-user-check" *ngIf="selectIndex === i"></i> </a>
      </div> -->
    </div>
  </div>

  <div *ngIf="!drag">

    <div class="mb-1 text-right">

      <button mat-button (click)="addorder()"
        style="font-size:1.3rem;font-family: thai-sanslite;color:rgb(153, 149, 149);" class="">เพิ่ม<i
          class="fas fa-user-plus" style="color:#007bff;"></i></button>

      <!-- <br> -->
    </div>
    <div *ngIf="!orders.length" class="text-center mb-1 add-order" style="">
      กรุณาเพิ่มลำดับ <b class="text-danger">*</b>
    </div>
    <div *ngIf="errLimitOrder" class="text-center mb-1 text-danger " style="">
      จำกัดผู้พิจารณาไม่เกิน 5 ท่าน <b class="">*</b>
    </div>


    <div *ngFor="let order of orders;let i = index" class=" add-order">
      <div class="d-flex">
        <mat-form-field (click)="checkEmpty()" style="font-family: thai-sanslite;font-weight:600;font-size:1.3rem;">
          <mat-select placeholder="ลำดับที่ {{i+1}}"
            style="font-family: thai-sanslite;font-weight:600;font-size:1.3rem;" (click)="checkEmpty()"
            [formControl]="order.selectFormControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let position of positions"
              style="font-family: thai-sanslite;font-weight:600;font-size:1.3rem;" [value]="position.pos_detail"
              (click)="checkEmpty()">
              {{position?.pos_detail}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="order.selectFormControl.hasError('required')">กรุณาเลือกบุคลากร</mat-error>

        </mat-form-field>&nbsp;
        <a href="javascript:void(0)" class="d-flex align-items-center">
          <i (click)="delete(i)" class="fas fa-user-times p-2 delete-order"></i>
        </a>
      </div>

      <!-- <i  class="fas fa-minus-circle delete align-self-center"></i> -->
    </div>
  </div>

  <!-- <hr> -->
  <div mat-dialog-actions class="d-flex justify-content-center order-theme mt-4">

    <button mat-raised-button color="primary" [mat-dialog-close]="orders" class="btn" style="color:#fff;"
      cdkFocusInitial>ยืนยัน</button> &nbsp;
    <button mat-button [mat-dialog-close]="cancel" class="btn">ยกเลิก</button>
  </div>
</section>