.delete {
    color: rgba(141, 131, 128, 0.712);
    font-size: 1.5rem;
}

.delete:hover {}

.btn {
    font-family: thai-sanslite;
    font-size: 1.4rem;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 50px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.add-order {
    height: 10vh;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-decoration: none;
    /* cursor: move; */
    background: white;
    font-size: 1.3rem;
    font-family: thai-sanslite;
}

.example-box:hover {
    text-decoration: none;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
}

.selected {
    transform: translateY(-20%);
    font-weight: 900;
    /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1); */
}

a {
    align-items: center;
    text-decoration: none;
    /* color: red; */
}

a:hover {
    /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.123); */
}

.delete-order {
    color: red;
}

.delete-order:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.123);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

i:hover {
    font-weight: 700;
}

a {
    text-decoration: none;
}