/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css' */

@font-face {
  font-family: thai-sanslite;
  src: url("../src/assets/fonts/thaisanslite/thaisanslite_r1.ttf");
}

/* html{
    height: 100%;
    overflow: hidden;
} */

body {
  font-family: thai-sanslite;
  min-height: 100vh;
  height: auto;
  margin: 0;
  /* margin: 0;
    padding:0;
    perspective: 1px;
    transform-style: preserve-3d;
    
    overflow-y: scroll;
    overflow-x: hidden; */
}

html.cdk-global-scrollblock {
  position: initial !important;
}

label {
  margin-bottom: 0 !important;
}

@media (max-width:576px) {
  .background {
    background: #F1F4FA;
  }
  .mat-horizontal-stepper-header-container {
    flex-direction: column !important;
    align-items: start !important;
  }
  .mat-horizontal-stepper-header {
    padding: 0.5rem 0rem 0.5rem 0rem !important;
  }
  .paginator {
    font-size: 1rem !important;
    font-weight: 700 !important;
  }
  table th {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    color: #666 !important;

  }
  table tr td {
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #666 !important;
    
  }
  .element-description-header {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
  }
  .btn-selected-row {
    font-size: 1.1rem !important;
  }
  .btn-cancel-row {
    font-size: 1.1rem !important;
  }
  .mat-step-label {
    font-size: 1rem !important;
  }
}

@media (min-width:576px) {
  .background {
    background: #F1F4FA;
    height: 100vh;
  }
  .mat-horizontal-stepper-header-container {
    flex-direction: row !important;
  }
  .mat-step-label {
    font-size: 1.3rem !important;
  }
  .mat-horizontal-stepper-header {
    height: 100% !important;
    width: 100% !important;
    /* padding: 0rem 0rem !important; */
    pointer-events: none !important;
  }
  .paginator {
    font-size: 1.3rem !important;
  }
  table th {
    font-weight: 600 !important;
    font-size: 1.4rem !important;
    color: #444 !important;

  }
  table tr td {
    font-size: 1.3rem !important;
    font-weight:600 !important;
    color: #777 !important;
  }
  .mat-step-label {
    font-size: 1.1rem !important;
  }
  .element-description-header {
    font-size: 1.4rem;
  }
  .btn-selected-row {
    font-size: 1.2rem !important;
  }
  .btn-cancel-row {
    font-size: 1.2rem !important;
  }
  .comment_header span#header {
    white-space: normal;
  }
}

/*end media 576px*/

.btn-selected-row {
  background: #3F9384 !important;
}

.btn-cancel-row {
  background: #fff !important;
  color: #3F9384 !important;
  border: 1px solid #3F9384 !important;
}

table {
  width: 100% !important;
  font-family: thai-sanslite !important;
}

table tr {
  cursor: pointer !important;
}

table tr td {
  cursor: pointer !important;
}

.element-description-header {
  font-weight: 600;
  padding: 0.5rem;
}

/************** Material Global *****************/

.mat-select-placeholder {
  font-family: thai-sanslite !important;
}

.mat-select-value-text {
  font-family: thai-sanslite !important;
  font-size: 1.3rem !important;
}

.mat-step-label {
  font-family: thai-sanslite;
}

.mat-horizontal-content-container {
  padding: 0.25em !important;
  background: #efefef !important;
  width: 100% !important;
  justify-content: space-around !important;
}

.mat-horizontal-stepper-header {
  height: 100% !important;
  width: 100% !important;
  pointer-events: none !important;
  background: #efefef !important;
}

.mat-radio-label {
  white-space: inherit!important;
}

.mat-stepper-horizontal-line {
  /* border: 11.5px solid #efefef !important;
  margin: 0px 0px !important;
  padding: 0.5px 0 !important;
  background: rgba(75, 70, 70, 0.356) !important; */
  display: none;
}

.wrapper-content {
  padding-top: 63px;
  min-height: 100vh;
  /* background: rgba(0, 0, 0, 0.3); */
  height: auto;
  margin: 0;
  font-family: thai-sanslite;
}

.content {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 13vw 0 5vw;
  transform-style: inherit;
  width: 100vw;
}

.content, .content::before {
  background: 50% 50% / cover;
}

.content::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  /* background-image: url(../src/assets/img/way-fields.jpg); */
  /* background-size: cover; */
  /* transform-origin: center center 0; */
  /* transform: translateZ(-1px) scale(2); */
  z-index: -1;
  min-height: 100vh;
}

.content * {
  margin: 0;
  /* padding: 1em 0; */
}

.mat-paginator {
  /* background: rgba(0, 0, 0, 0.3) !important; */
}

.mat-paginator-container {
  margin-left: auto !important;
  flex: 1 1;
  justify-content: space-around !important;
  flex-wrap: nowrap !important;
}

.mat-paginator-page-size .mat-select-trigger {
  font-size: 1rem !important;
}

.search__input {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 1.2rem;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 20px;
  border: 0.5px solid #575756b6;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
  color: color(#57575683 a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 2px solid #3f51b5;
  border-radius: 0;
  background-position: 100% center;
}

.mat-sort-header-container {
  justify-content: center !important;
}

.mat-form-field {
  font-size: 1.2rem;
  font-family: thai-sanslite;
  width: 100%;
}

.header-text {
  font-size: 2.5rem;
  font-weight: 900;
}

.header-text span {
  color: #090725;
  padding: 0.5rem 1rem;
  border-top: 3px solid rgba(117, 115, 115, 0.418);
  border-bottom: 3px solid rgba(102, 100, 100, 0.418);
}

.paginator {
  font-weight: 700 !important;
  color: #000 !important;
  font-family: thai-sanslite !important;
}

.waiting {
  color: rgba(209, 198, 45, 0.897);
}

tr.example-detail-row {
  height: 0;
  background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  /* opacity: 0.5; */
  cursor: pointer;
  color: rgba(45, 89, 209, 0.897)
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 3.8rem !important;
}

.header-text {
  font-size: 2.5rem;
  font-weight: 900;
  padding: 3rem 1rem 1rem 1rem;
}

.header-text span {
  color: #090725;
  padding: 0.5rem 1rem;
  border-top: 3px solid rgba(117, 115, 115, 0.418);
  border-bottom: 3px solid rgba(102, 100, 100, 0.418);
}

.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 5px;
  padding: 12px;
  margin: 20px auto 20px;
  max-width: 472px;
  min-height: 200px;
}

.card--loading {
  height: 250px;
}

.card--reset {
  min-height: auto;
  text-align: center;
}

.card--reset a {
  color: #3b97ff;
  text-decoration: none;
}

.info-header{
  font-size:1.75rem;
  font-weight:700;
  text-decoration-line:underline;
}

.info-content{
  border: 3px solid white;
  border-radius: 12px;
  padding: 1rem;
}

.w100 {
  width: 100% !important;
}

/********** request component***********/

.comment {
  font-size: 1.3rem;
  font-weight: 600;
  color: #666666;
}

.comment_considerby {
  font-size: 1.15rem;
}

.comment_header {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 1rem 0.5rem 0;
}

.comment_header span#header {
  padding-right: 0.5rem;
}