@import '~@angular/material/theming';
@include mat-core();
.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent:  mat-palette($mat-yellow, 400);
//   $alternate-warn: mat-palette()
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.progress-theme {
  $alternate-primary: mat-palette($mat-yellow, 400);
  $alternate-accent:  mat-palette($mat-green, 400);
//   $alternate-warn: mat-palette()
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.order-theme {
  $alternate-primary: mat-palette($mat-teal , 400);
  $alternate-accent:  mat-palette($mat-green, 400);
//   $alternate-warn: mat-palette()
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

.yellow-theme {
  $yellow-theme-primary: mat-palette($mat-green, 400);
  $yellow-theme-accent:  mat-palette($mat-yellow, 400);

  $yellow-theme: mat-light-theme($yellow-theme-primary, $yellow-theme-accent);

  @include angular-material-theme($yellow-theme);
}