.mat-form-field {
  font-size: 1.2rem;
  font-family: thai-sanslite;
  width: 100%;
}

/* .paginator {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: thai-sanslite;
} */
.waiting{
  color: rgba(209, 198, 45, 0.897);
}


/* table th{
  font-weight:600;
  font-size: 1.5rem;
}
table tr{
  cursor: pointer;
}

table tr td{
  font-size: 1.3rem;
  font-weight:500;
} */


tr.example-detail-row {
  height: 0;
  background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  width:100%;
  padding: 16px;
}

.example-element-description-attribution {
  /* opacity: 0.5; */
  
  cursor: pointer;
  color: rgba(45, 89, 209, 0.897)
}

.hide {
  display: none;
}
.card {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 5px;
  padding: 12px;
  margin: 20px auto 20px;
  max-width: 472px;
  min-height: 200px;
}
.card--loading {
  height: 250px;
}
.card--reset {
  min-height: auto;
  text-align: center;
}
.card--reset a {
  color: #3b97ff;
  text-decoration: none;
}

.table-cell-loader {
  padding: 0;
}
.table__date {
  width: 60px;
}
.table__descrip {
  width: 250px;
}
.table__amount {
  width: 100px;
}
.table__other {
  width: 20px;
}
.table__icon {
  color: #3b97ff;
  font-size: 18px;
}
@keyframes placeHolderShimmer {
  0% {
    background: #ececec;
  }
  30% {
    background: #f7f7f7;
  }
  50% {
    background: #ececec;
  }
  80% {
    background: #f7f7f7;
  }
  100% {
    background: #ececec;
  }
}
.loading-animation {
  animation: placeHolderShimmer 3s infinite;
}
.mask {
  background: #fff;
  position: absolute;
  height: 10px;
}
.mask--b-b {
  top: 0;
  width: 100%;
  height: 1px;
  right: 0;
  background: #efefef;
}
.mask--t {
  height: 10px;
  width: 100%;
}
.mask--b {
  height: 10px;
  width: 100%;
  bottom: 0;
}
.mask--r {
  height: 30px;
  width: 10px;
  right: 0;
}
.mask--l {
  height: 30px;
  width: 10px;
  left: 0;
}
.mask--sep-1 {
  width: 20px;
  right: 340px;
  height: 30px;
}
.mask--sep-2 {
  width: 20px;
  right: 185px;
  height: 30px;
}
.mask--sep-3 {
  width: 20px;
  right: 73px;
  height: 30px;
}
.u-pd-y--md {
  padding: 25px 0 25px;
}
.u-pd--xs {
  padding: 5px;
}
.u-pd--sm {
  padding: 10px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  padding: 0;
}
.u-mg--xs {
  margin: 5px;
}
.u-mg--sm {
  margin: 10px;
}
.u-mg--md {
  margin: 15px;
}
.u-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.u-flex__cell {
  flex: 1;
}
.icon-container {
  border-left: 1px solid #efefef;
}
.u-hide-small--flex {
  display: none;
}
@media only screen and (min-width: 768px) {
  .u-hide-small--flex {
    display: inline-block;
  }
}
.u-show-large-only--flex {
  display: none;
}
@media only screen and (min-width: 960px) {
  .u-show-large-only--flex {
    display: inline-block;
  }
}
