<div *ngIf="!confirm">
  <div class="text-center dialog-header">เพิ่มตำแหน่ง</div>
  <form [formGroup]="form">
    <mat-form-field style="font-size: 1.2rem;font-family: thai-sanslite;">
      <input formControlName="position" matInput placeholder="Position" required>
    </mat-form-field>
    <div *ngIf="this.form.get('position').invalid">
      <div *ngIf="this.form.get('position').dirty || this.form.get('position').touched" style="font-size: 0.75rem;"
        class="text-danger">
        This field is required.
      </div>
    </div>

    <mat-form-field style="font-size: 1.2rem;font-family: thai-sanslite;">
      <mat-label>Name</mat-label>
      <mat-select style="font-family: thai-sanslite;" formControlName="teacher_uid" required>
        <mat-option style="font-family: thai-sanslite;">
          --
        </mat-option>
        <mat-option *ngFor="let teacher of data.teacher" [value]="teacher.person.personid" style="font-family: thai-sanslite;">
          {{ teacher.title?.titleacafullt }}
          {{ teacher.title?.title_name_t }}
          {{ teacher.person?.fname_t }}
          {{ teacher.person?.lname_t }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="this.form.get('teacher_uid').invalid" class="mb-2">
      <div *ngIf="this.form.get('teacher_uid').dirty || this.form.get('teacher_uid').touched"
        style="font-size: 0.75rem;" class="text-danger">
        This field is required.
      </div>
    </div>

    <!-- <mat-form-field style="font-size: 1.2rem;font-family: thai-sanslite;">
    <mat-label>Privilege</mat-label>
    <mat-select style="font-family: thai-sanslite;" formControlName="manage_lv">
      <mat-option *ngFor="let level of data.operate_lv" [value]="level.level_operate"
        style="font-family: thai-sanslite;">
        {{level.level_operate}} - {{level.name_of_position | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

    <div class="text-center">
      <button type="submit" class="btn btn-selected-row " style="color:#fff;font-family: thai-sanslite;"
        (click)="onFormSubmit()">ยืนยัน</button>&nbsp;
      <button class="btn btn-cancel-row " (click)="onCancel()" style="font-family: thai-sanslite;">ยกเลิก</button>
    </div>


  </form>
</div>

<div class="text-center" *ngIf="confirm">
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class=" text-center" *ngIf="complete===true">
    <h4 style="font-family:thai-sanslite;">ดำเนินการสำเร็จ</h4>
    <img src="./assets/img/success.png" height="40" alt="">
  </div>
  <div class=" text-center" *ngIf="complete===false">
    <h4 style="font-family:thai-sanslite;">ดำเนินการไม่สำเร็จ</h4>
    <img src="./assets/img/error.png" height="40" alt="">
  </div>

</div>