<div [formGroup]="form" class="p-res">
  <ul class="list-group" *ngIf="disable">
    <!-- <li class="list-group-item question-label">{{question?.order}}.
      {{question?.label}}</li> -->
    <li class="question-label">{{question?.order}}.
      {{question?.label}}</li>
    <!-- <li class="list-group-item">Dapibus ac facilisis in</li> -->
    <li *ngFor="let ans of answers" class="list-group-item answer-group">
      <div *ngIf="ans.ans_choice">
        <b style="font-size:1.3rem;">></b> {{ans?.question_choice.choice_detail}}
      </div>
      <div *ngIf="ans.ans_text">
        <b style="font-size:1.3rem;">></b> {{ans?.ans_text}}
      </div>
      <div *ngIf="ans.ans_other">
        <b style="font-size:1.3rem;">></b> {{ans?.ans_other}}
      </div>
      <div *ngIf="ans.upload_ans.length">
        <div *ngFor="let file of ans.upload_ans">
          <section class="d-flex ">
            <b style="font-size:1.3rem;">></b>
            &nbsp;<a href="javascript:void(0)" (click)="downloadfile(file.upload_file)">{{file.upload_file}}</a>
          </section>
        </div>
      </div>
      <div *ngIf="checkNoAnswer(ans)">
        ไม่พบคำตอบ
      </div>


    </li>
    <li *ngIf="!answers.length " class="list-group-item answer-group">
      ไม่พบคำตอบ
    </li>

  </ul>
  <section *ngIf="!disable" class="list-group">
    <!-- {{diagnostic}} -->
    <!-- {{check()}} -->
    <label [attr.for]="question.key" class="list-group-item question-label">{{question.order}}.
      {{question?.label}}
      <strong *ngIf="question.required" class="text-danger">*</strong>
    </label>
    <div [ngSwitch]="question.controlType" class="list-group-item answer-group" style="font-family: thai-sanslite;">

      <!-- textbox -->
      <mat-form-field *ngSwitchCase="'textbox'" class="fullwidth" style="font-family: thai-sanslite;">
        <input matInput [formControlName]="question.key" [id]="question.key" placeholder="โปรดระบุคำตอบ">
      </mat-form-field>

      <!-- file upload -->
      <div *ngSwitchCase="'file'" class="form-group">
        <a href="javascript:void(0)" (click)="onSelectedFile()" class="upload-btn m-2">
          <i class="fas fa-upload"></i>
          Choose a file
        </a>
        <span class="text-danger" style="font-size:1.2rem;">(จำนวนไม่เกิน {{question?.filedetail.n_file}} ไฟล์)</span>
        <br />
        <div *ngIf="showLimit" class="text-danger">{{warning_limit_numfile}}</div>
        <input type="file" id="fileUpload" name="fileUpload" multiple="multiple" accept="{{accept}}" class="d-none">
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let file of files" color="primary" [selectable]="selectable" [removable]="removable"
              (removed)="cancelFile(file)">
              {{file?.name}}
              <i class="far fa-times-circle close-icon" matChipRemove *ngIf="removable"></i>
            </mat-chip>
            <!-- <input placeholder="" style="font-size:1.2rem;font-family: thai-sanslite;" [matChipInputFor]="chipList"> -->
          </mat-chip-list>
        </mat-form-field>
      </div>

      <!-- dropdown -->
      <mat-form-field *ngSwitchCase="'dropdown'">
        <mat-select [formControlName]="question.key">
          <mat-option *ngFor="let opt of question.options" [value]="opt.id" style="font-family: thai-sanslite;">
            {{opt?.choice_detail}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <!-- subject -->
      <div *ngSwitchCase="'subject'">
        <mat-form-field style="font-family: thai-sanslite;">
          <mat-select [formControl]="formTeacher" placeholder="อาจารย์ประจำวิชา" (selectionChange)="sendSubject($event)"
            style="font-family: thai-sanslite;">
            <mat-option *ngFor="let teacher of teachers" [value]="teacher.teacher.personid" style="font-family: thai-sanslite;">
              {{teacher?.titleaca?.titleacalitt}} {{teacher?.teacher.fname_t}} {{teacher?.teacher.lname_t}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="fullwidth" style="font-family: thai-sanslite;">
          <input matInput [formControlName]="question.key" [id]="question.key" placeholder="โปรดระบุรหัสวิชา">
        </mat-form-field>
      </div>

      <!-- multichoice -->
      <div *ngSwitchCase="'multichoice'">

        <div *ngIf="!question.other">
          <mat-radio-group [formControlName]="question.key" class="d-flex flex-column">
            <mat-radio-button *ngFor="let opt of question.options" [value]="opt.id" style="font-family: thai-sanslite;font-weight: 500;">
              {{opt?.choice_detail}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div *ngIf="question.other">
          <mat-radio-group [formControlName]="question.key" class="d-flex flex-column">
            <mat-radio-button *ngFor="let opt of question.options" [value]="opt.id" (change)="radioChange($event)"
              style="font-family: thai-sanslite;font-weight: 500;">{{opt?.choice_detail}}
            </mat-radio-button>
          </mat-radio-group>
          <div *ngIf="!disabledOther">
            <input class="form-control ml-3" [formControl]="formOther" (keyup)="sendother()"
              style="font-family: thai-sanslite;font-size:1.2rem;width:40%" type="text" placeholder="กรุณาระบุ"
              [value]="formOther.value">
          </div>
        </div>





      </div>


      <div *ngSwitchCase="'checkbox'">
        <div *ngIf="!question.other">
          <label [formArrayName]="question.key" class="checkbox-column"
            *ngFor="let option of form.controls[question.key].controls; let i = index">
            <mat-checkbox type="checkbox" [formControlName]="i" style="font-family: thai-sanslite;">
              {{question?.options[i].choice_detail}}</mat-checkbox>
          </label>
        </div>
        <div *ngIf="question.other">
          <label [formArrayName]="question.key" class="checkbox-column"
            *ngFor="let option of form.controls[question.key].controls; let i = index">
            <mat-checkbox type="checkbox" (change)="selectedOther(i)" [formControlName]="i"
              style="font-family: thai-sanslite;font-weight: 500;">
              {{question?.options[i].choice_detail}}</mat-checkbox>

          </label>
          <div *ngIf="!disabledOther">
            <input class="form-control ml-3" [formControl]="formOther" (keyup)="sendother()"
              style="font-family: thai-sanslite;font-size:1.2rem;width:40%" type="text" placeholder="กรุณาระบุ" #input>
          </div>
        </div>
      </div>



      <mat-form-field *ngSwitchCase="'paragraph'" class="ta-fullwidth">
        <textarea matInput [formControlName]="question.key" [id]="question.key" style="font-family: thai-sanslite;"
          placeholder="โปรดระบุคำตอบ"></textarea>
      </mat-form-field>

    </div>

  </section>
</div>