@media (max-width:575.88px){
    .p-res {
        padding: 0rem;
    }
}

@media (min-width:576px){
    .p-res {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.fullwidth {
    width: 100%;
    /* max-width: 350px; */
}


.ta-fullwidth {
    width: 100%;
    font-family: thai-sanslite;
}

.question-label {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    list-style-type: none;
    /* background-color: rgb(155, 180, 201); */
}

.answer-group {
    background: #F1F4FA;
    font-size: 1.4rem;
    font-weight: 600;
    color: #666;
    font-family: thai-sanslite;
}

.checkbox-column {
    font-family: thai-sanslite;
    display: flex;
    flex-direction: column;
}

/* .upload-btn {
    height: 0;
    overflow: hidden;
    width: 0;
} */

.upload-btn {
    background: #228be6;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.3rem;
    /* font-weight: 600; */
    margin-bottom: 0.5rem;
    /* outline: none; */
    padding: 0.5rem 1.5rem;
    /* position: relative; */
    transition: all 0.3s;
    vertical-align: middle;
}

.upload-btn:hover {
    background-color: #1c7ed6;
}

.close-icon {
    vertical-align: middle;
    transition: all 0.3s;
    font-size: 1.3rem;
}

.close-icon:hover {
    font-weight: 900;
}