<app-nav></app-nav>
<div class="container wrapper-content">
  <section class="d-flex " style="padding-top:3rem;">
    <button class="button1 mr-3" style="font-weight: 600" routerLink="/staff/create">
      <span>เพิ่มคำร้อง</span>
    </button>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="align-items-center"
      style="font-family: thai-sanslite;font-size: 1.5rem;font-weight: 600;">
      <mat-button-toggle (click)="changeOrder()"
        style="font-family: thai-sanslite;font-size: 1.5rem;line-height: 1.5rem;" value="bold">ตั้งค่า
        <i class="fas fa-cog"></i></mat-button-toggle>
    </mat-button-toggle-group>

  </section>

  <section class="row">
    <div class="col-sm-12 col-md-6 align-items-center d-flex" *ngFor="let form of forms;trackBy:trackByFn;let i=index">
      <div class="drop-shadow curved v2">
        <p> <b>{{i+1}}</b> {{form?.form_name}}</p>

      </div>
      <button mat-icon-button [matMenuTriggerFor]="menu"><i class="fas fa-ellipsis-v"
          style="font-size:1.5em;"></i></button>



      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/staff/edit/{{form.id}}" class="subbtn">
          แก้ไข<i class="fas fa-edit"></i>
        </button>
        <button mat-menu-item class="subbtn" (click)="delform(form.id)">
          ลบ <i class="fas fa-trash"></i>
        </button>
      </mat-menu>
    </div>

  </section>

  <section *ngIf="drag" class="mt-3 mb-5 section2">
    <div class="transition">
      คลิ๊กลาก / เปลี่ยนชื่อ

      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let form of forms;let i = index;trackBy:trackByFn" cdkDrag>
          <div *ngIf="!isRename">
            <a href="javascript:void(0)">ตำแหน่ง {{i + 1}} &nbsp; {{form?.form_name}}</a>

          </div>
          <div *ngIf="!isRename">
            <a href="javascript:void(0)" class="text-right" (click)="toggleRename(i)">เปลี่ยนชื่อ</a>
          </div>

          <div *ngIf="isRename" class="example-full-width">
            <div *ngIf="i === editIndex">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="แก้ไข" #input [formControl]="form_rename"
                  style="font-size:1.3rem;font-family:  thai-sanslite;">
              </mat-form-field>
              <div *ngIf="form_rename.invalid " class="text-danger">
                <div *ngIf="form_rename.touched || form_rename.dirty">
                  This field is required
                </div>
              </div>
              <article class="d-flex flex-fill justify-content-end" style="font-size:1rem;">
                <a href="javascript:void(0)" class="btn btn-primary" (click)="confirmRename(i)">ยืนยัน</a> &nbsp;
                <a href="javascript:void(0)" class="btn btn-warn" (click)="cancelRename(i)">ยกเลิก</a>
              </article>

            </div>

            <a href="javascript:void(0)" [class.disabled]="i === editIndex">{{form.form_name}}</a>
          </div>

        </div>
      </div>
      <div *ngIf="errUpdatePosition" class="text-danger" style="font-size:1rem;">
          Error: Cannot change position
      </div>
      <!-- <button mat-button (click)="changeOrder()">save</button> -->
    </div>

  </section>




</div>