.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 1.5rem;
  font-family: thai-sanslite;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.disabled {
  display: none;
}

.example-full-width {
  width: 100%;
  font-family: thai-sanslite;
  font-size: 1rem;
}

.drop-shadow {
  position: relative;
  float: left;
  width: 85%;
  padding: 0.5em;
  margin: 1em 0;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -mox-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before, .drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

.drop-shadow p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0rem;
}

p b {
  font-size: 1.7rem;
}

span {
  margin-bottom: 1rem;
}

.lifted {
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.lifted:before, .lifted:after {
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -mox-box-shadow: 0 15px 10px;
}

.subbtn {
  font-family: thai-sanslite;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button1 {
  position: relative;
  appearance: none;
  background: #f72359;
  padding: 0.5em 1.2em;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 10px;
}

.button1 span {
  position: relative;
  pointer-events: none;
}

.button1::before {
  --size: 0;
  content: '';
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #1e1e20, transparent);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}

.button1:hover::before {
  --size: 400px;
}

.section2 a, .section2 {
  font-size: 1.4rem;
  transition: 0.5s;
}

.transition {
  transition: 0.5s;
}