.background-img {}

input {
    outline: none;
    border: none;
}

.w-full {
    width: 100%;
}

/* [ login ]*/

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
    font-family: thai-sanslite;
}

.wrap-login100 {
    width: 1170px;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

/*==================================================================
[ login more ]*/


.login100-more {
    width: 50%;
    /* background-image: url(''); */
    /* background-color: #666666; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-position: center; */
    position: relative;
    z-index: 1;
}

.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.3); */
}

/*==================================================================
[ Form ]*/

.login100-form {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 65px 40px 65px;
    background: rgba(0, 0, 0, 0.3);
}

.login100-form-title {
    /* font-family: Poppins-Regular; */
    font-size: 2.5rem;
    font-weight: 700;
    color: #555555;
    line-height: 1.2;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    display: block;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border: 1px solid #e6e6e6;
}

.rs1-wrap-input100, .rs2-wrap-input100 {
    width: 100%;
}

.rs2-wrap-input100 {
    /* border-left: none; */
}

.input100 {
    display: block;
    width: 100%;
    background: #fff;
    /* font-family: Poppins-Regular; */
    font-size: 1.5rem;
    color: #666666;
    line-height: 1.2;
    padding: 0 25px;
}

input.input100 {
    height: 55px;
}

/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid #097ae4;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #e60651;
    /* font-family: Montserrat-Bold; */
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    background: #333333;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
    .login100-form {
        width: 60%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .login100-more {
        width: 40%;
    }
    .img-none{
        display: block
    }
    
}

@media (max-width: 768px) {
    .login100-form {
        width: 100%;
    }
    .login100-more {
        width: 100%;
    }
    .img-none{
        display: none
    }
    
}


@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 150px;
    }
    .rs1-wrap-input100, .rs2-wrap-input100 {
        width: 100%;
    }
    .rs2-wrap-input100 {
        border-left: 1px solid #e6e6e6;
    }
}