<div class="navbar navbar-expand-lg navbar-light white scrolling-navbar fixed-top" style="padding-top:0;padding-bottom:0.2rem;font-family: thai-sanslite;font-size:1.5rem;z-index:1000;">
  <nav class="container">
    <!-- Brand -->
    <img class="navbar-brand waves-effect mr-5" src="./assets/img/Crop/Logo_TU_PINE.png" (click)="navigate(links[0])" alt="TU-PINE" height="60">
    <!-- Collapse -->
    <button class="navbar-toggler" (click)="toggle=!toggle" type="button" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="toggle">
      <div class="menu" [class.clickMenu]="toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    <!-- Links -->
    <div class="navbar-collapse" [class.collapse]="!toggle" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav d-flex flex-fill align-items-end" style="margin-bottom: 5px;">
        <li class="nav-item mr-4" *ngFor="let link of links" (click)="navigate(link)">
          <a class="link" [class.activeLink]="link===activeLink">
            <span class="p-2 m-3">{{link.label}}</span>

          </a>
        </li>

        <li  class="nav-item mr-4  d-lg-none">
          <a class=" link" routerLink="/auth/login" (click)="logout()"><span class="p-2 m-3" style="color:black;">ออกจากระบบ</span></a>
        </li>
  
      </ul>
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item ">
          <a class="nav-link waves-effect d-none d-lg-block" [matMenuTriggerFor]="menu">
            <span>{{user.email}} &nbsp;<i class="fas fa-caret-down"></i></span>
          </a>
          <mat-menu #menu="matMenu" style="z-index: 1040;">
            <a mat-menu-item class="menu-item" routerLink="/auth/login" (click)="logout()">ออกจากระบบ</a>
          </mat-menu>
        </li>
      </ul>
    </div>
  </nav>
</div>