
  /* menu */
.navbar-mod {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.menu{
    width: 30px;
    height: 20px;
    margin: 5px 5px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .menu span{
    background-color:rgb(43, 35, 35);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .menu span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .menu span:nth-child(2){
    top:8px;
    left: 0px;
  }
  .menu span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  /* .menu:not(.clickMenu):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .menu:not(.clickMenu):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .menu:not(.clickMenu):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  } */
  .clickMenu span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;
  }
  .clickMenu span:nth-child(2){
    transform: scale(.1);
  }
  .clickMenu span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

  .basicBox {
    width: 80px;
    height: 40px;
    margin: 0px auto;
    color: #4274D3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  svg rect, svg path, svg polyline {
    fill: none;
    stroke: #4274D3;
    stroke-width: 1;
  }
  
  .basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
    stroke: #4274D3;
  }
  
  /* Basic Box */
  svg rect {
    stroke-dasharray: 400, 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .basicBox:hover svg rect {
    stroke-width: 3;
    stroke-dasharray: 35, 245;
    stroke-dashoffset: 38;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }

  .link{
    font-weight: 700 !important;
    margin:0 10px 0 10px;
  }
  .link span{
    text-decoration: none;
  }

  .link:hover{
    /* color: #fff; */
    border-bottom: 6px solid rgba(255, 196, 0, 0.856);
    text-decoration: none;
    /* color: black; */
  }
  .activeLink {
    transition: .3s;
    background: rgba(255, 3, 121, 0.904);
    
    /* color: aliceblue; */
  }

  .activeLink span{
    color: #fff;

  }

  .menu-item{
    font-family: thai-sanslite;
    font-size:1.2rem;
    text-decoration: none;
    font-weight: 400;
  }
  /* {
    color: #fff;
    border-bottom: 3px solid rgba(102,177,241,0.8);;
  } */