.mat-form-field {
  font-size: 1.2rem;
  font-family: thai-sanslite;
  width: 100%;
}


.paginator {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: thai-sanslite;
}

.waiting{
  color: rgba(209, 198, 45, 0.897);
}
table {
  width: 100%;
  font-family: thai-sanslite;
  
}

table th{
  font-weight:600;
  font-size: 1.5rem;
}
table tr{
  cursor: pointer;
}

table tr td{
  font-size: 1.4rem;
  font-weight:500;
}

tr.example-detail-row {
  height: 0;
  background: #efefef;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  width:100%;
}

.example-element-description-attribution {
  /* opacity: 0.5; */
  
  cursor: pointer;
  color: rgba(45, 89, 209, 0.897)
}

.btn-order {
  background: #3F9384;
  color: #fff;
  border-radius: 12px;
  font-size: 1.2rem;
}

.card--reset {
  min-height: auto;
  text-align: center;
}
.card--reset a {
  color: #3b97ff;
  text-decoration: none;
}
