<app-nav></app-nav>
<div class="container wrapper-content">

  <p class="header-text text-center">
    <span>รายการยื่นคำร้อง</span>
  </p>
  <div class="row  d-flex justify-content-between">

    <div class=" col-xs-12 flex-fill p-3">

      <input class="search__input mt-3" (keyup)="applyFilter($event.target.value)" type="text" placeholder="Search">
      <!-- <button></button> -->
    </div>
    <mat-paginator [pageSizeOptions]="[6, 8, 10, 20]" class="paginator p-2 flex-fill"></mat-paginator>



  </div>

  <br>
  <div *ngIf="isDataSourceEmpty">
    <div class="jumbotron" style="background:#fff;">
      <h3>ไม่พบข้อมูลการยื่นคำร้อง</h3>
      <p>กรุณาเข้าระบบใหม่ หรือ ทำการรีเฟรชข้อมูล</p>
      <!-- <div class="card card--reset"> -->
      <a href="javascript:void(0)" (click)="refreshData()">Refresh Data</a>
      <!-- </div> -->
    </div>
  </div>
  <div *ngIf="!isDataSourceEmpty">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z4 mb-3">

      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>

          {{column}}
        </th>
        <td mat-cell *matCellDef="let element">
          <safe-html [element]="ElementHtml(column,element[column],element)"></safe-html>
          <!--         
                        <mat-icon class="p-0" matBadge="new" matBadgeSize="small"  [matBadgeHidden]="element[column] !== 'รอ'" matBadgeOverlap="false" matBadgePosition="after" matBadgeColor="warn">
                    
                        </mat-icon>
                     -->

        </td>
      </ng-container>



      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element;let i = dataIndex;" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

            <div class="example-element-description">
              <div class="element-description-header">ลำดับการอนุมัติ</div>
              <!-- <div *ngFor="let el of element.SignControl">{{el}}</div> -->
              <mat-horizontal-stepper class="flex-fill" [linear]="isLinear" #stepper [selectedIndex]="6">
                <ng-template matStepperIcon="edit" let-index="index">
                  {{index+1}}
                </ng-template>
                <!-- <ng-template matStepperIcon="edit" let-index="index" *ngIf="completed[i].completed[index] === 2">
                              {{index+1}}
                            </ng-template> -->
                <!-- <mat-icon *ngIf="completed[i].completed[index] === 1" let-index="index">{{index+1}}
                            </mat-icon> -->

                <mat-step
                  [completed]="(completed[element.No - 1].completed[x] !== 0 ) && (completed[element.No - 1].completed[x] !== null )"
                  *ngFor="let el of element.SignControl;let x=index">
                  <ng-template matStepLabel>{{el?.pos_detail}} </ng-template>
                </mat-step>

                <!-- <mat-step >
                              <ng-template matStepLabel>XXXX</ng-template>
                            </mat-step> -->
              </mat-horizontal-stepper>
              <div class=" d-flex" style="float:right;">
                <a class="btn btn-selected-row align-items-center d-flex" style="color:#fff;" (click)="select(element)">
                  ไปยังหน้านี้&nbsp;
                  <img src="./assets/img/login.png" class="" height="20" alt="">
                </a>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>


</div>