<div *ngIf="!confirm">
    <section style="font-size:1.5rem;font-family: thai-sanslite;" class="text-center">
        <div *ngIf="data.order === 'create'">
            ยืนยันการสร้างแบบคำร้อง
        </div>
        <div *ngIf="data.order === 'edit'">
            ยืนยันการแก้ไขคำร้อง
        </div>

    </section>

    <div mat-dialog-actions class="d-flex justify-content-center order-theme ">

        <button mat-raised-button color="primary" (click)="onConfirm()" class="btn" style="color:#fff;"
            cdkFocusInitial>ยืนยัน</button> &nbsp;
        <button mat-button (click)="onCancel()" class="btn">ยกเลิก</button>
    </div>
</div>


<div class="text-center" *ngIf="confirm">
    <app-loader [isLoading]="isLoading"></app-loader>
    <div class=" text-center" *ngIf="complete===true">
        <h4 style="font-family:thai-sanslite;" *ngIf="data.order === 'create'">
            สร้างคำร้องสำเร็จ
        </h4>
        <h4 style="font-family:thai-sanslite;" *ngIf="data.order === 'edit'">
            แก้ไขคำร้องสำเร็จ
        </h4>
        <img src="./assets/img/success.png" height="40" alt="">
    </div>
    <div class=" text-center" *ngIf="complete===false">
        <h4 style="font-family:thai-sanslite;">
            การดำเนินการไม่สำเร็จ
        </h4>
        <img src="./assets/img/error.png" height="40" alt="">
    </div>

</div>