.font{
    font-family: thai-sanslite;
    font-size: 1.3rem;
    font-weight: 500;
}

.font-header{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.reset-button{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

chart {
    height: 50vh;
}

