<app-nav></app-nav>
<div class="container wrapper-content ">
  <p class="header-text text-center">
    <span>สถิติ</span>
  </p>
  <div class="text-center ">
    <mat-form-field>
      <mat-label class="font">ประเภท</mat-label>
      <mat-select placeholder="xxx" [(ngModel)]="typeValue" class="font" (selectionChange)="onChangeSelect($event)">
        <mat-option *ngFor="let type of types" [value]="type" class="font">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="font">ปีการศึกษา</mat-label>
      <mat-select placeholder="xxx" [(ngModel)]="yearValue" class="font" (selectionChange)="onChangeSelect($event)">
        <mat-option *ngFor="let year of years" [value]="year" class="font">
          {{year}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="font">เทอม</mat-label>
      <mat-select placeholder="xxx" [(ngModel)]="termValue" class="font" (selectionChange)="onChangeSelect($event)">
        <mat-option *ngFor="let term of terms" [value]="term" class="font">
          {{term}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label class="font">ประเภทคำร้อง</mat-label>
      <mat-select placeholder="xxx" [(ngModel)]="formValue" class="font" (selectionChange)="onChangeSelect($event)">
        <mat-option *ngFor="let form of forms" [value]="form.form_name" class="font">
          {{form.form_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
  </div>
  <div class="text-right">
    <button class="btn btn-warn reset-button " (click)="reset()">รีเซ็ต</button>
  </div>
  <article>
    <p class="font-header pb-3">แสดงข้อมูลกราฟ</p>
    <p style="font-size:1.1rem;">รายละเอียด [<b>ประเภท:</b> {{typeValue}}
      <b>ปีการศึกษา:</b> {{yearValue}}
      <b>เทอม:</b> {{termValue}}
      <b>ประเภทคำร้อง:</b> {{formValue}}]</p>

    <div style="display: block; ">

      <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
    </div>
  </article>

  <hr style="visibility:hidden">
  <!-- <article>
    <p class="font-header">สรุป</p>
    <table class="mb-3">
      <tr>
        <th style="font-size:1.4rem;font-weight:500;">ประเภทคำร้อง</th>
        <th style="font-size:1.4rem;font-weight:500;" class="text-center">จำนวน</th>
      </tr>
      <tr *ngFor="let data of barChartData;let i=index;">
        <td style="font-size:1.3rem;">{{i+1}}.{{data.label}} </td>
        <td style="font-size:1.3rem;" class="text-center">{{data.data[0]}}</td>
      </tr>
    </table>




  </article> -->