table {
    width: 100%;
    font-family: thai-sanslite;
}

.paginator {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: thai-sanslite;
}

table th {
    font-weight: 600;
    font-size: 1.5rem;
}

table tr {
    cursor: pointer;
}

table tr td {
    font-size: 1.4rem;
    font-weight: 500;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: block;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.disabled {
    background: gray;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
    width: 100%;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.insert-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background: #e60651;
    /* font-family: Montserrat-Bold; */
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.insert-btn:hover {
    background: #333333;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

@keyframes placeHolderShimmer {
    0% {
        background: #ececec;
    }
    30% {
        background: #f7f7f7;
    }
    50% {
        background: #ececec;
    }
    80% {
        background: #f7f7f7;
    }
    100% {
        background: #ececec;
    }
}

.loading-animation {
    animation: placeHolderShimmer 3s infinite;
}

.mask {
    background: #fff;
    position: absolute;
    height: 10px;
}

.mask--b-b {
    top: 0;
    width: 100%;
    height: 1px;
    right: 0;
    background: #efefef;
}

.mask--t {
    height: 10px;
    width: 100%;
}

.mask--b {
    height: 10px;
    width: 100%;
    bottom: 0;
}

.mask--r {
    height: 30px;
    width: 10px;
    right: 0;
}

.mask--l {
    height: 30px;
    width: 10px;
    left: 0;
}

.mask--sep-1 {
    width: 20px;
    right: 340px;
    height: 30px;
}

.mask--sep-2 {
    width: 20px;
    right: 185px;
    height: 30px;
}

.mask--sep-3 {
    width: 20px;
    right: 73px;
    height: 30px;
}

.u-pd-y--md {
    padding: 25px 0 25px;
}

.u-pd--xs {
    padding: 5px;
}

.u-pd--sm {
    padding: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #efefef;
    padding: 0;
}

.u-mg--xs {
    margin: 5px;
}

.u-mg--sm {
    margin: 10px;
}

.u-mg--md {
    margin: 15px;
}

.u-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.u-flex__cell {
    flex: 1;
}

.icon-container {
    border-left: 1px solid #efefef;
}

.u-hide-small--flex {
    display: none;
}

@media only screen and (min-width: 768px) {
    .u-hide-small--flex {
        display: inline-block;
    }
}

.u-show-large-only--flex {
    display: none;
}

@media only screen and (min-width: 960px) {
    .u-show-large-only--flex {
        display: inline-block;
    }
}