<app-nav></app-nav>

<div class="container wrapper-content" style="font-family: thai-sanslite;">
  <p class="header-text text-center">
    <span>รายชื่อผู้พิจารณา</span>
  </p>
  <section class="row  d-flex justify-content-between">
    <div class=" col-xs-12 flex-fill p-3">
      <input
        class="search__input mt-3"
        (keyup)="applyFilter($event.target.value)"
        type="text"
        placeholder="Search"
      />
    </div>
    <mat-paginator
      [pageSizeOptions]="[6, 8, 10, 20]"
      class="paginator p-2 flex-fill"
    ></mat-paginator>
  </section>
  <br />
  <div *ngIf="isLoading">
    <table mat-table [dataSource]="dataTempSource" class="mat-elevation-z8">
      <ng-container
        [matColumnDef]="column"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef class="text-center">
          {{ column }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="u-flex__cell u-mg--sm u-pd--sm loading-animation"></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
    </table>
  </div>
  <div *ngIf="!isLoading">
    <div *ngIf="isDataSourceEmpty">
      <div class="jumbotron" style="background:#fff;">
        <h3>ไม่พบข้อมูลการยื่นคำร้อง</h3>
        <p>กรุณาเข้าระบบใหม่ หรือ ทำการรีเฟรชข้อมูล</p>
        <!-- <div class="card card--reset"> -->
        <a href="javascript:void(0)" (click)="refreshData()">Refresh Data</a>
        <!-- </div> -->
      </div>
    </div>
    <div *ngIf="!isDataSourceEmpty">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z4 mb-3"
      >
        <ng-container
          matColumnDef="{{ column }}"
          *ngFor="let column of columnsToDisplay"
        >
          <th mat-header-cell *matHeaderCellDef class="text-center">
            {{ column }}
          </th>
          <td mat-cell *matCellDef="let element" class="text-center">
            {{ data(element, column) }}
            <!-- <div class="u-flex__cell u-mg--sm u-pd--sm loading-animation" ></div> -->
            <!-- <safe-html [element]="ElementHtml(column,element[column],element)"></safe-html> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="row flex-fill pt-2">
                <div class="col-12 w100">
                  <mat-form-field
                    style="font-size: 1.2rem;font-family: thai-sanslite;"
                  >
                    <mat-label>Name</mat-label>
                    <mat-select
                      [formControl]="element.teacher_uid"
                      (selectionChange)="setTeacher($event, element)"
                      style="font-family: thai-sanslite;"
                    >
                      <mat-option
                        *ngFor="let teacher of teachers"
                        [value]="teacher.person.personid"
                        style="font-family: thai-sanslite;"
                      >
                        {{ teacher.title?.titleacafullt }}
                        {{ teacher.title?.title_name_t }}
                        {{ teacher.person?.fname_t }}
                        {{ teacher.person?.lname_t }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div
                class="d-flex justify-content-end pb-2"
                *ngIf="!element.edit"
              >
                <a
                  href="javascript:void(0)"
                  class="btn btn-selected-row "
                  style="color:#fff;"
                  (click)="onEdit(element)"
                  >แก้ไข</a
                >
                <a
                  href="javascript:void(0)"
                  class="btn btn-selected-row "
                  style="color:#fff;"
                  (click)="delete(element)"
                  >ลบ</a
                >
              </div>
              <div class="d-flex justify-content-end pb-2" *ngIf="element.edit">
                <button
                  class="btn btn-selected-row "
                  (click)="onSubmit(element)"
                  style="color:#fff;"
                >
                  ยืนยัน
                </button>
                <button
                  class="btn btn-selected-row "
                  (click)="onEdit(element)"
                  style="color:#fff;"
                >
                  ยกเลิก
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: columnsToDisplay"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
  </div>

  <!-- <div class="card card--reset">
    <a href="javascript:void(0)" (click)="refreshData()">Refresh Data</a>
  </div> -->

  <button
    class="insert-btn mt-3 mb-3"
    (click)="onDialog()"
    style="font-weight: 600"
  >
    <span>เพิ่มตำแหน่ง</span>
  </button>
</div>
