<app-nav></app-nav>
<main class="wrapper-content" style="height:100%">
    <div *ngIf="questions.length" class="container-page" >
        <app-dynamic-form [questions]="questions" [order]="order" [id]="form_id" [req_id]="req_id"></app-dynamic-form>
    </div>
  </main>
