@media (min-width:576px) {
    .container-page {
        min-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-page {
        max-width: 720px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .container-page {
        max-width: 960px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.container-page {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}