<div *ngIf="!confirm">
  <div class="confirm-status text-center">

    ยืนยันการดำเนินการ :
    <div *ngIf="data.status===1" class="text-success"> <strong>อนุมัติ</strong> </div>
    <div *ngIf="data.status===2" class="text-danger"> <strong>ไม่อนุมัติ</strong> </div>
    <div *ngIf="data.status===3" class="text-success"> <strong>เห็นควรอนุมัติ</strong> </div>
    <div *ngIf="data.status===4" class="text-danger"> <strong>เห็นควร ไม่อนุมัติ</strong> </div>



  </div>
  <div class="text-center order-theme">

    <button mat-raised-button color="primary" (click)="onConfirm()" style="color:#fff;"
      class="btn-confirm">ยืนยัน</button>&nbsp;
    <button mat-raised-button (click)="onCancel()" class="btn-confirm">ยกเลิก</button>
  </div>
</div>
<div class="text-center" *ngIf="confirm">
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class=" text-center" *ngIf="complete===true">
    <h4 style="font-family:thai-sanslite;">ดำเนินการสำเร็จ</h4>
    <img src="./assets/img/success.png" height="40" alt="">
  </div>
  <div class=" text-center" *ngIf="complete===false">
    <h4 style="font-family:thai-sanslite;">ดำเนินการไม่สำเร็จ</h4>
    <img src="./assets/img/error.png" height="40" alt="">
  </div>

</div>
<!-- <div *ngIf="confirm && !finish" style="font-family:thai-sanslite;font-size:1.4rem">
  <div class="d-flex justify-content-center">
    รอการดำเนินการ<br>
    <mat-progress-spinner class="example-margin" [color]="primary" [diameter]="value" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>
<div *ngIf="finish" (click)="onCancel()" style="font-family:thai-sanslite;font-size:1.4rem">
  <div class="text-center">
    การดำเนินการเรียบร้อย
    <br>
    <img src="./assets/img/success.png" height="30" width="30" style="align-items: center">
  </div>
</div> -->