<app-nav></app-nav>
<div class="container-page wrapper-content">
  <!-- {{diagnostic}}   -->

  <p class="header-text text-center">
    <span>เพิ่มคำร้อง</span>
  </p>
  <form [formGroup]="formGroup" class="container">
    <mat-form-field class="example-full-width header-form">
      <input matInput placeholder="ชื่อคำร้อง*" formControlName="form_name">
    </mat-form-field>
    <div *ngIf="formGroup.get('form_name').invalid" class=" text-danger text-right">
      <div *ngIf="formGroup.get('form_name').touched || formGroup.get('form_name').dirty">
        <strong class=" ">กรุณาระบุชื่อคำร้อง</strong>
      </div>
    </div>
    <mat-form-field class="example-full-width header-form">
      <textarea matInput placeholder="คำอธิบาย" formControlName="description"></textarea>
    </mat-form-field>
    <!-- <div *ngIf="formGroup.get('description').invalid" class="text-danger">
      <div *ngIf="formGroup.get('description').touched || formGroup.get('description').dirty">
        <strong class="pb-3">Description field required</strong>
      </div>
    </div> -->
  </form>

  <div class="question-group mb-3">
    <div class="question-container flex-fill">
      <div *ngIf="!questions.length">
        คลิ๊กเครื่องหมายบวก (+) เพิ่มคำถาม
      </div>
      <div class="loop-question" [class.not-blur]="isquestion" *ngFor="let question of questions;trackBy:trackByFn"
        (click)="isQuestion(question.no)">

        <h6 id="qno{{question.no}}"> <strong class="question-no"
            [class.touch-question]="isquestion===question.no">{{question?.no}}
            |</strong>
          &nbsp;
          <mat-form-field class="form__field">
            <input type="text" matInput [formControl]="question.title" class=" " placeholder="Your Question" />
          </mat-form-field>

          <!-- <input type="text" [(ngModel)]="question.title" value="{{question.title}}" class="form__field mt-2"
            placeholder="Your Question" /> -->

          <mat-form-field class="mt-3 ml-2 select-type" *ngIf="!disabledSubject">
            <mat-select [(ngModel)]="question.type" class="font-select" placeholder="Select type">
              <mat-option (click)="selectType('radio button',question.no)" class="font-select" value="radio button">
                Radio button
              </mat-option>
              <mat-option (click)="selectType('checkboxes',question.no)" class="font-select" value="checkboxes">
                Checkboxes</mat-option>
              <mat-option (click)="selectType('dropdown',question.no)" class="font-select" value="dropdown">Dropdown
              </mat-option>
              <mat-option (click)="selectType('subject',question.no)" class="font-select" value="subject">
                Subject
              </mat-option>
              <mat-option (click)="selectType('short answer',question.no)" class="font-select" value="short answer">
                Short answer
              </mat-option>
              <mat-option (click)="selectType('large answer',question.no)" class="font-select" value="large answer">
                Large answer
              </mat-option>
              <mat-option (click)="selectType('file upload',question.no)" class="font-select" value="file upload">File
                upload</mat-option>

            </mat-select>

          </mat-form-field>
          <mat-form-field class="mt-3 ml-2 select-type" *ngIf="disabledSubject">
            <mat-select [(ngModel)]="question.type" class="font-select" placeholder="Select type">
              <mat-option (click)="selectType('radio button',question.no)" class="font-select" value="radio button">
                Radio button
              </mat-option>
              <mat-option (click)="selectType('checkboxes',question.no)" class="font-select" value="checkboxes">
                Checkboxes</mat-option>
              <mat-option (click)="selectType('dropdown',question.no)" class="font-select" value="dropdown">Dropdown
              </mat-option>
              <mat-option value="subject" class="font-select" [disabled]="disabledSubject">
                Subject
              </mat-option>
              <mat-option (click)="selectType('short answer',question.no)" class="font-select" value="short answer">
                Short answer
              </mat-option>
              <mat-option (click)="selectType('large answer',question.no)" class="font-select" value="large answer">
                Large answer
              </mat-option>
              <mat-option (click)="selectType('file upload',question.no)" class="font-select" value="file upload">File
                upload</mat-option>

            </mat-select>

          </mat-form-field>
        </h6>
        <div *ngIf="question.type === 'subject'">
          <div class="text-danger">( ตัวอย่างคำตอบ )</div>
          <mat-form-field>
            <mat-label class="font">อาจารย์ประจำวิชา</mat-label>
            <mat-select class="font" disabled></mat-select>
          </mat-form-field>
          <mat-form-field style="font-family: thai-sanslite;">
            <input matInput class="font" placeholder="โปรดระบุรหัสวิชา" disabled>
          </mat-form-field>
        </div>
        <div *ngIf="question.type === 'large answer'">
          <div class="text-danger">( ตัวอย่างคำตอบ )</div>
          <mat-form-field style="font-family: thai-sanslite;">
            <textarea matInput class="font" placeholder="โปรดระบุคำตอบ" disabled></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="question.type === 'short answer'">
          <div class="text-danger">( ตัวอย่างคำตอบ )</div>
          <mat-form-field style="font-family: thai-sanslite;">
            <input matInput class="font" placeholder="โปรดระบุคำตอบ" disabled>
          </mat-form-field>
        </div>

        <div *ngIf="question.type === 'radio button'||question.type==='checkboxes'||question.type==='dropdown'">
          <div *ngFor="let optarr of options;let i = index">
            <div *ngIf="question.no === optarr.qno">
              <!-- <i class="fas fa-angle-down" *ngIf="question.type==='dropdown'"></i> -->
              <div *ngFor="let opt of optarr.option">
                <mat-form-field class="ml-3"
                  style="width: 80%;font-size:1.3rem;max-width:250px;font-family: thai-sanslite;">
                  <input matInput [formControl]="opt.answer" placeholder="ตัวเลือกที่ {{opt.no}}">
                </mat-form-field>
                <!-- <input type="text" [(ngModel)]="opt.answer" [value]="opt.answer"> -->
                <a href="javascript:void(0)" [class.disabled]="optarr.option.length === 1 && !question.hasOther"
                  (click)="deleteOption(question.no,opt.no)"><i class="far fa-minus-square minus ml-2"></i></a>
              </div>
              <div *ngIf="!optarr.option.length" class="text-center m-3">
                <span style="font-size:1.35rem;font-weight: 700;">ไม่มีตัวเลือกใด ๆ</span>
              </div>
              <div *ngIf="question.hasOther" class="ml-3">
                อื่น ๆ &nbsp;&nbsp;
                <!-- <mat-form-field>
                      <input matInput placeholder="" disabled>
                    </mat-form-field> -->
                <a href="javascript:void(0)" (click)="hasOther(question.no)"><i
                    class="far fa-minus-square minus"></i></a>

              </div>

              <div class="option-choice">
                <button class="button1" (click)="addOption(question.no)">เพิ่มตัวเลือก</button>
                <button class="button2" (click)="hasOther(question.no)">
                  <i class="far fa-check-square" style="color:rgb(36, 38, 39)" *ngIf="!question.hasOther"></i>
                  <i class="fas fa-check-square" style="color:rgb(56, 58, 59)" *ngIf="question.hasOther"></i>
                  อื่น ๆ
                </button>


              </div>
              <!-- <button class="btn btn-info" (click)="deleteAllOption(question.no)">ลบตัวเลือกทั้งหมด</button> -->

            </div>


          </div>
        </div>
        <div *ngIf="question.type==='file upload'">
          <mat-form-field>
            <mat-label class="font">จำนวนไฟล์</mat-label>
            <mat-select [(ngModel)]="question.numfile" class="font">
              <mat-option *ngFor="let num of numfile" [value]="num">{{num}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label class="font">ระบุประเภทไฟล์</mat-label>
            <mat-select [formControl]="question.fileControl" class="font" multiple>
              <!-- <mat-option  >เลือกทั้งหมด</mat-option> -->
              <mat-option *ngFor="let type of fileType" [value]="type">{{type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-end align-items-center footer-question">
          <!-- <div>
            ต้องการคำตอบ
          </div>
          &nbsp;
          <div class="sw1" >
            <span class="switcher switcher-1">
              <input type="checkbox" [(ngModel)]="question.ansreq" id="switcher-1">
              <label for="switcher-1"></label>
            </span>
          </div> -->
          <mat-checkbox style="font-family: thai-sanslite;" class="mb-0" [(ngModel)]="question.ansreq" >ต้องการคำตอบ</mat-checkbox>
          <strong class="ml-2">|</strong>
          <!-- &nbsp; -->
          <a href="javascript:void(0)" (click)="copyQuestion(question.no)" class="mr-1 ml-2"><i class="far fa-copy p-2"
              style="font-size:1.3rem;"></i></a>
          <a href="javascript:void(0)" (click)="removeQuestion(question.no)"><i class="fas fa-trash p-2"
              style="font-size:1.3rem;"></i></a>
        </div>




      </div>
    </div>

    <button class="button-plus doctor" (click)="addQuestion()" id="window">
      <div>+</div>
    </button>

    <!-- <label class="button m-1" [class.lengthzero]="questions.length===0" (click)="addQuestion()" for="toggle"></label>  -->

  </div>



  <div *ngIf="questions.length && !orders.length" class="text-center">
    <button (click)="onOrder()" class="btn-order">กำหนดลำดับการอนุมัติ</button>
  </div>
  <div *ngIf="orders.length" class="order-group">
    <div style="font-size:1.4rem;font-weight: 600;">ลำดับการอนุมัติ</div>
    <mat-list *ngFor="let order of orders;let i=index">
      <mat-list-item style="font-size:1.2rem;font-family: thai-sanslite;">
        {{i+1}} {{order?.selectFormControl.value}}
      </mat-list-item>
    </mat-list>
    <div class="text-right btn-edit">
      <a (click)="onOrder()" style="font-size:1.2rem;font-family: thai-sanslite;">แก้ไข&nbsp;<i
          class="fas fa-edit"></i></a><br>
    </div>
  </div> <br>
  <div class="text-center pb-3" *ngIf="orders.length">
    <div *ngIf="errFormNotValid && !checkValidForm()" class="alert alert-danger">
      กรุณากรอกข้อมูลให้ครบถ้วน

    </div>
    <div *ngIf="errOrders" class="alert alert-danger">
      ไม่สามารถกำหนดคำถามประเภทนี้ได้
    </div>

    <div *ngIf="url ==='create'">
      <button class="btn-order" (click)="submit()">สร้างแบบคำร้อง</button>
    </div>
    <div *ngIf="url ==='edit'">
      <button class="btn-order" (click)="submit()">แก้ไขคำร้อง</button>&nbsp;
      <button class="btn-order-cancel" (click)="cancel()">ย้อนกลับ</button>
    </div>

  </div>
</div>