.question-no {
  color: #D3D3D3;
  font-size: 2rem;
}

.font {
  font-family: thai-sanslite;
  font-size: 1.1rem;
  font-weight: 500;
}

a:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.123);
}

.touch-question {
  transition: 0.5s;
  color: #E36900;
}

.not-blur {
  opacity: 100%;
}

.example-full-width {
  width: 100%;
}

.header-form {
  font-size: 1.5rem;
  font-family: thai-sanslite;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.disabled {
  display: none;
}

.question-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  background: rgba(114, 186, 94, 0.05);
}

.btn-edit a {
  border-bottom: 3px solid rgb(41, 38, 38);
}

.order-group {
  height: 100%;
  border: 2px dashed rgba(114, 186, 94, 0.35);
  background: rgba(114, 186, 94, 0.05);
  padding: 1rem;
}

.question-container {
  padding: 0.7rem 0 0.7rem 0.7rem;
}

.question-container .loop-question {
  border: 1px solid rgba(114, 186, 94, 0.952);
  /* border-radius: 12px; */
  /* border: 2px dashed rgba(114, 186, 94, 0.35); */
  /* opacity: 30%; */
  padding: 1rem;
  margin-bottom: 1rem;
  background: transparent;
}

.footer-question a {
  color: black;
}

.option-choice {
  display: flex;
  border: 1px solid rgba(20, 20, 20, 0.39);
  border-radius: 20px;
  margin: 15px 0.3em 1.25em 0.3em;
  align-items: center;
  max-width: 200px;
  /* height: 20px; */
}

.option-choice button {
  width: 50%;
  border: 0;
  padding: 0.2rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.option-choice .button1 {
  border-radius: 20px 0 0 20px;
  color: rgb(41, 38, 38);
  /* background: linear-gradient(146deg, rgba(203,2,67,0.9671218829328606) 0%, rgb(241, 104, 73) 75%); */
  background: #FAD768;
}

.button1:hover, .button2:hover {
  box-shadow: 0 5px rgb(199, 197, 197);
}

/* .button1:active{
    background: rgb(17, 120, 189);
    box-shadow: 0 1px #666;
    transform: translateY(4px);

} */

.option-choice .button2 {
  border-radius: 0 20px 20px 0;
  background: #fff;
  color: #1e1e1e;
}

.sw1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  /* background-color: #ccc; */
}

.sw1 span.switcher {
  position: relative;
  width: 55px;
  height: 20px;
  border-radius: 25px;
  /* margin: 20px 0; */
}

.sw1 span.switcher input {
  appearance: none;
  position: relative;
  width: 55px;
  height: 20px;
  border-radius: 25px;
  background-color: #1e1e1e;
  outline: none;
  font-family: thai-sanslite;
}

.sw1 span.switcher input:before, .sw1 span.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.sw1 span.switcher input:before {
  content: 'YES';
  bottom: -16px;
  left: 6px;
}

.sw1 span.switcher input:after {
  content: 'NO';
  bottom: -16px;
  right: 6px;
}

.sw1 span.switcher label {
  z-index: 1;
  position: absolute;
  top: 2px;
  bottom: -6px;
  border-radius: 20px;
}

.sw1 span.switcher.switcher-1 input {
  transition: 0.25s -0.1s;
}

.sw1 span.switcher.switcher-1 input:checked {
  background-color: rgba(19, 235, 188, 0.993);
}

.sw1 span.switcher.switcher-1 input:checked:before {
  /* color: #fff; */
  color: #1e1e1e;
  transition: color 0.5s 0.2s;
}

.sw1 span.switcher.switcher-1 input:checked:after {
  color: #ccc;
  /* color: #1e1e1e; */
  transition: color 0.5s;
}

.sw1 span.switcher.switcher-1 input:checked+label {
  left: 2px;
  right: 27px;
  background: #fff;
  transition: left 0.5s, right 0.4s 0.2s;
}

.sw1 span.switcher.switcher-1 input:not(:checked) {
  background: #807f7f;
  transition: background 0.5s -0.1s;
}

.sw1 span.switcher.switcher-1 input:not(:checked):before {
  color: #ccc;
  transition: color 0.5s;
}

.sw1 span.switcher.switcher-1 input:not(:checked):after {
  color: #1e1e1e;
  transition: color 0.5s 0.2s;
}

.sw1 span.switcher.switcher-1 input:not(:checked)+label {
  left: 29px;
  right: 2px;
  background: #fff;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}

.form__field {
  width: 100%;
  color: #666666;
  font-family: thai-sanslite;
  font-size: 1.3rem;
}

.dropdown-container {
  background: #fff;
  padding: 0 1.2rem;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.minus {
  color: rgb(235, 43, 84);
  font-size: 1.3rem;
  transition: 0.3s;
}

.minus:hover {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.select-type {
  font-family: thai-sanslite;
  font-size: 1.4rem;
}

.font-select {
  font-family: thai-sanslite;
  font-size: 1.3rem;
}

.button {
  position: relative;
}

.lengthzero {
  position: absolute;
}

.button-plus {
  border: none;
  border-radius: 50em;
  padding: 10px 20px;
  height: 40px;
}

.btn-order {
  background: #3F9384;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
}

.btn-order-cancel {
  background: #fff;
  color: #3F9384;
  border: 1px solid #3F9384;
  border-radius: 12px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem;
}

.doctor {
  position: -webkit-sticky;
  position: sticky;
  bottom: 6rem;
  align-self: flex-end;
}

.input100 {
  /* display: block; */
  width: 100%;
  background: #fff;
  /* font-family: Poppins-Regular; */
  font-size: 1.5rem;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(10% + 2px);
  height: calc(10% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #097ae4;
}

#window {
  width: 1.2em;
  height: 1.2em;
  background: #FF5E00;
  color: #fff;
  margin: 0.5rem;
  float: right;
  -webkit-transition: 0s all;
  transition: 0s all;
  padding: 0.65rem;
  font: 2rem Helvetica, sans-serif;
  line-height: 1px;
}

#window:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.123);
}

.container-page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 575.88px) {
  .select-type {
    width: 89%;
    max-width: 350px;
  }
}

@media(min-width: 576px) {
  .form__field {
    font-size: 1.5rem;
    max-width: 375px;
  }
  .font-select {
    font-size: 1.5rem;
  }
  .container-page {
    max-width: 540px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .select-type {
    width: 150px;
  }
  .container-page {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 992px) {
  .container-page {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
}