ul {
    list-style: none;
}

.header-text{
  font-size: 2.5rem;
  font-weight: 900;
}

.header-text span{
  color: #090725;
  padding: 0.5rem 1rem ;
  border-top: 3px solid rgba(117, 115, 115, 0.418);
  border-bottom : 3px solid rgba(102, 100, 100, 0.418);
}


@media (max-width: 576px) {
    a{
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        text-transform: uppercase;
        width: 100%;
      
        margin-bottom: 1rem;
        padding: 0 1rem 0 1rem;
        line-height: 3rem;
      
    }
    .btn1::before {
      width: 13%;
    }
 }
 @media (min-width: 576px) {
  a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    text-transform: uppercase;
    width: 48%;
    margin-right: auto;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
    line-height: 3rem;
  }
  .btn1::before {
     width: 18%;
   }
}

@media (min-width: 992px) {
   .btn1::before {
     width: 11%;
   }
}

span{
    /* border: 2px solid black; */
    /* background: black; */
    color: #fff;
    /* padding: 10px 10px; */
    
    margin:10px;
}




.search__container {
    /* padding-top: 64px; */
    font-family: thai-sanslite;
  }
  .search__container .found{
    font-size: 1.25rem;
  }
  

  .search__title {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    
    
  }

  .search__title span {
    color: #090725;
    padding: 0.5rem 1rem ;
    border-top: 3px solid rgba(117, 115, 115, 0.418);
    border-bottom : 3px solid rgba(102, 100, 100, 0.418);
  }


  span b{
      /* width: 20%; */
      color: rgb(88, 85, 85);
      padding: 1rem 1rem 1rem 0;
  }
  .btn1 {
    /* margin: 20px auto; */
    border: 1px solid black;
    padding: 10px 1rem;
    font-weight: 600;
    position: relative;
  }
  .btn1::before {
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    /* width: 16%; */
    height: 100%;
    background: linear-gradient(to bottom right, #fdc830 14%, #f7a87d 94%);
    position: absolute;
    top: 0;
    left: 0;
  }
  .btn1 .btn1-text {
    color: rgb(10, 10, 10);
    mix-blend-mode: darken;
  }
  .btn1:hover::before {
    background: linear-gradient(to bottom right, #fdc830 14%, #f7a87d 94%);
    width: 100%;
  }
  
