<app-nav></app-nav>

<main class="container wrapper-content">
  <section>
    <p class="header-text text-center">
      <span>เอกสารแบบคำร้อง</span>
    </p>
    <div class="search__container">

      <input class="search__input mt-3" (keyup)="search($event.target.value)" type="text" placeholder="Search">

      <p class="p-2 found">ค้นหาพบแล้ว : {{forms?.length}}</p>
    </div>

    <div class="row p-3">
      <a href="javascript:void(0)" (click)="navigate(form)" *ngFor="let form of forms;let i = index" class="btn1 ">
        <span class="btn1-text"><b>{{i+1}}</b>&nbsp; {{form?.form_name}}</span>


      </a>
    </div>
  </section>
</main>